/*
Colors:
#BD5915 - orange
 */

ul {
    list-style: none;
}

#selSort {
    display: none;
}

.fa-link, .fa-calendar-alt, .fa-comments, .fa-tag {
    padding-right: 5px;
}

.sorting, .sorting_desc, .sorting_asc, .orange {
    background-color: #BD5915;
}

.orange {
    padding: 5px;
}

.red {
    background: red;
}

.even_row, .blue {
    background-color: #234099;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}
