/*
Colors:
#BD5915 - orange
 */

ul {
    list-style: none;
}

#selSort {
    display: none;
}

.fa-link, .fa-calendar-alt, .fa-comments, .fa-tag {
    padding-right: 5px;
}

.sorting, .sorting_desc, .sorting_asc, .orange, .table-borderless {
    background-color: #BD5915;
}

.orange {
    padding: 5px;
}

.red {
    background: red;
}

.even_row, .blue {
    background-color: #234099;
}

.container {
    background: #868686;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

.table-borderless {
    margin: 5px;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}
